<ion-view view-title="Saldo por mês">
  <ion-content overflow-scroll="true">
    <form>
      <div class="list">
        <label class="item item-input">
          <div class="input-label">Número de meses</div>
          <input max="36" min="1" ng-model="item.months" placeholder="Mêses" step="3" type="number"></input>
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="search(item)">
        <i class="icon ion-search placeholder-icon"></i>
        Buscar
      </button>
    </form>
      <table class="relatorio">
        <tr class="bold">
            <th>Créditos</th>
            <th class="align-rigth" ng-repeat="date in itens.dates">
              {{date}}
            </th>
            <th class="align-rigth">Média</th>
            <th class="align-rigth">Total</th>
        </tr>
        <tr ng-repeat="category in itens.creditCategories">
          <td>
            {{ category.category.name}}
          </td>
          <td class="align-rigth" ng-repeat="balance in category.balance">
              {{balance.value | number: 2}}
          </td>
          <td class="align-rigth">{{category.average() | number: 2}}</td>
          <td class="align-rigth">{{category.sum | number: 2}}</td>
        </tr>
        <tr class="bold">
            <td>Total</td>
            <td class="align-rigth" ng-repeat="sum in itens.totalCredits.balance">
              {{sum.value | number: 2}}
            </td>
            <td class="align-rigth">{{itens.totalCredits.average() | number: 2}}</td>
            <td class="align-rigth">{{itens.totalCredits.sum | number: 2}}</td>
        </tr>
        <tr><td colspan="20">&nbsp;</td></tr>
        <tr class="bold">
            <th>Débitos</th>
            <th class="align-rigth" ng-repeat="date in itens.dates">
              {{date}}
            </th>
            <th class="align-rigth">Média</th>
            <th class="align-rigth">Total</th>
        </tr>
        <tr ng-repeat="category in itens.debitCategories">
          <td>
            {{ category.category.name }}
          </td>
          <td class="align-rigth" ng-repeat="balance in category.balance">
              {{balance.value | number: 2}}
          </td>
          <td class="align-rigth">{{category.average() | number: 2}}</td>
          <td class="align-rigth">{{category.sum | number: 2}}</td>
        </tr>
        <tr class="bold">
            <td>Total</td>
            <td class="align-rigth" ng-repeat="sum in itens.totalDebits.balance">
              {{sum.value | number: 2}}
            </td>
            <td class="align-rigth">{{itens.totalDebits.average() | number: 2}}</td>
            <td class="align-rigth">{{itens.totalDebits.sum | number: 2}}</td>
        </tr>
        <tr><td colspan="20">&nbsp;</td></tr>
        <tr class="bold">
            <th>Saldo</th>
            <th class="align-rigth" ng-repeat="date in itens.dates">
              {{date}}
            </th>
            <th class="align-rigth">Média</th>
            <th class="align-rigth">Total</th>
        </tr>
        <tr>
            <td>Créditos</td>
            <td class="align-rigth" ng-repeat="sum in itens.totalCredits.balance">
              {{sum.value | number: 2}}
            </td>
            <td class="align-rigth">{{itens.totalCredits.average() | number: 2}}</td>
            <td class="align-rigth">{{itens.totalCredits.sum | number: 2}}</td>
        </tr>
        <tr>
            <td>Débitos</td>
            <td class="align-rigth" ng-repeat="sum in itens.totalDebits.balance">
              {{sum.value | number: 2}}
            </td>
            <td class="align-rigth">{{itens.totalDebits.average() | number: 2}}</td>
            <td class="align-rigth">{{itens.totalDebits.sum | number: 2}}</td>
        </tr>
        <tr class="bold">
            <td>Saldo</td>
            <td class="align-rigth" ng-repeat="sum in itens.totalDebits.balance track by $index">
               {{(itens.totalCredits.balance[$index].value - sum.value) | number: 2}}
            </td>
            <td class="align-rigth">{{ (itens.totalCredits.average() - itens.totalDebits.average())| number: 2}}</td>
            <td class="align-rigth">{{(itens.totalCredits.sum - itens.totalDebits.sum) | number: 2}}</td>
        </tr>
      </table>
  </ion-content>
</ion-view>
