<ion-view view-title="Saldo por mês">
  <ion-content>
    <div class="row bold">
      <div class="col"></div>
      <div class="col" ng-repeat="date in itens.dates">
        {{date}}
      </div>
      <div class="col">Média</div>
      <div class="col">Total</div>
    </div>
    <div class="row bold">Créditos</div>
    <div class="row" ng-repeat="category in itens.creditCategories">
      <div class="col">{{category.category.name}}</div>
      <div class="col" ng-repeat="balance in category.balance">
        {{balance.value | number: 2}}
      </div>
      <div class="col">{{category.average() | number: 2}}</div>
      <div class="col">{{category.sum | number: 2}}</div>
    </div>
    <div class="row bold">
      <div class="col">Total</div>
      <div class="col" ng-repeat="sum in itens.totalCredit.balance">
        {{sum.value | number: 2}}
      </div>
      <div class="col">{{itens.totalCredit.average() | number: 2}}</div>
      <div class="col">{{itens.totalCredit.sum | number: 2}}</div>
    </div>
    <div class="row bold">Débitos</div>
    <div class="row" ng-repeat="category in itens.debitCategories">
      <div class="col">{{category.category.name}}</div>
      <div class="col" ng-repeat="balance in category.balance">
        {{balance.value | number: 2}}
      </div>
      <div class="col">{{category.average() | number: 2}}</div>
      <div class="col">{{category.sum | number: 2}}</div>
    </div>
    <div class="row bold">
      <div class="col">Total</div>
      <div class="col" ng-repeat="sum in itens.totalDebit.balance">
        {{sum.value | number: 2}}
      </div>
      <div class="col">{{itens.totalCredit.average | number: 2}}</div>
      <div class="col">{{itens.totalCredit.sum | number: 2}}</div>
    </div>
  </ion-content>
</ion-view>
