<ion-view view-title="Lançamentos">
  <ion-content>
    <ion-list ng-hide="valid">
      <ion-item ng-repeat="error in errors" class="error">{{error}}</ion-item>
    </ion-list>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Descrição</span>
          <input type="text" ng-model="item.description">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Origem</div>
          <select ng-model="item.originAccount" ng-options="account.name for account in accounts track by account.guid"></select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Destino</div>
          <select ng-model="item.destinyAccount" ng-options="account.name for account in accounts track by account.guid"></select>
        </label>
        <label class="item item-input">
          <span class="input-label">Data</span>
          <input type="date" ng-model="item.date"></input>
        </label>
        <label class="item item-input">
          <span class="input-label">Valor</span>
          <input type="number" step="0.01" min="0" ng-model="item.value"></input>
        </label>
        <button class="button button-block button-positive" ng-click="addItem(item, true)">Salvar</button>
        <button class="button button-block button-positive" ng-click="addItem(item, false)">Salvar e novo</button>
        <button class="button button-block button-stable" ng-click="back()">Voltar</button>
      </div>
    </form>
  </ion-content>
</ion-view>
