<div>
    <h2>Lançamentos</h2>
    <ul ng-hide="valid">
        <li ng-repeat="error in errors">{{error}}</li>
    </ul>
    <form>
        <input type="hidden" ng-model="newItem.guid"></input>
        <select ng-model="newItem.category" ng-options="category.name for category in categories track by category.guid"></select>
        <input type="text" ng-model="newItem.description" />
        <select ng-model="newItem.account" ng-options="account.name for account in accounts track by account.guid"></select>
        <input type="date" ng-model="newItem.date"></input>
        <input type="number" step="0.01" min="0" ng-model="newItem.value"></input>
        <button ng-click="addItem(newItem)">Salvar</button>
    </form>
    <table>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Conta</th>
        </tr>
        <tr ng-repeat="item in itens">
            <td>{{item.description}}</td>
            <td>{{item.value}}</td>
            <td>{{item.category.name}}</td>
            <td>{{item.account.name}}</td>
            <td>
                <a ng-click="editItem(item)">Editar</a>
            </td>
            <td>
                <a ng-click="deleteItem(item)">Excluir</a>
            </td>
        </tr>
    </table>
</div>