<ion-view view-title="Configurações">
  <ion-content>
    <ion-list ng-hide="valid">
      <ion-item ng-repeat="error in errors" class="error">{{error}}</ion-item>
    </ion-list>
    <form>
      <div class="list">
        <input type="hidden" ng-model="item.guid"></input>
        <label class="item item-input">
          <span class="input-label">Login</span>
          <input type="text" ng-model="item.login">
        </label>
        <label class="item item-input">
          <span class="input-label">Senha</span>
          <input type="password" ng-model="item.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Propriedade</span>
          <input type="number" step="1" ng-model="item.propertyId">
        </label>
        <label class="item item-input">
          <span class="input-label">Url</span>
          <input type="text" ng-model="item.url">
        </label>
        <button class="button button-block button-positive" ng-click="addItem(item)">Salvar</button>
        <button class="button button-block button-assertive" ng-click="deleteItem(item)" ng-show="ehEdicao">Excluir</button>
        <button class="button button-block button-stable" ng-click="back()">Voltar</button>
      </div>
    </form>
  </ion-content>
</ion-view>
