<ion-view view-title="Configurações">
    <ion-content>
        <button class="button button-block button-positive" ng-click="newItem()">
          Novo
        </button>
        <ion-list>
            <ion-item ng-class="{'bold': item.active}" ng-repeat="item in itens" href="#/app/users/{{item.guid}}">
            {{item.login}}
            <span ng-show="item.active"> - ativo</span>
            <span ng-hide="item.active"> - inativo</span>
            <a class="activate" ng-hide="item.active" href="#" ng-click="activate(item)">Ativar</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>