<ion-view view-title="Configurações">
    <ion-content>
        <button class="button button-block button-positive" ng-click="newItem()">
          Novo
        </button>
        <button class="button button-block button-positive" ng-click="exportData()">
          Exportar dados
        </button>
        <button class="button button-block button-positive" ng-click="importData()">
          Importar dados
        </button>        
        <ion-list>
            <ion-item ng-repeat="item in itens" href="#/app/users/{{item.guid}}">
            {{item.login}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>