h1{
  font-size: 150%;
  padding: 4px 10px
}

.atualizar {
  padding-right: 10px;
  font-size: 35px;
}
.download {
  padding-right: 30px;
}
.bold {
  font-weight: bold;
}

.align-rigth{
  text-align: right;
}

.wide-as-needed {
  white-space: nowrap;
}

a, a:visited{
  color:black;
  text-decoration: none;
}
.scroll{
  height:100%;
}

.report{
  height: 1200px;
}

.report :hover{
  background-color: #ddd;
}

.activate{
  cursor: pointer;
  font-weight: bold;
}
